.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}

.row {
  margin: 30px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #007bff;
} */

#searchbtn > svg {
  width: 48px;
}

#file-input {
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  filter: alpha(opacity=0); /* IE < 9 */
  opacity: 0;
}
.input-label {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.blbmub::after {
  content: ''
}

#divider {
  width: 80%;
  height: 0.25rem;
  display: block;
  background: rgb(84, 54, 214);
  margin: 12px 0px 2rem;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

#display-error {
  display: contents;
  color: red;
}

.react-html5-camera-photo>img, .react-html5-camera-photo>video {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
